    /*
    Flaticon icon font: Flaticon
    Creation date: 16/09/2020 05:11
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-birth-control:before { content: "\f100"; }
.flaticon-mesh:before { content: "\f101"; }
.flaticon-thunderbolt:before { content: "\f102"; }
.flaticon-glass:before { content: "\f103"; }
.flaticon-filter:before { content: "\f104"; }
.flaticon-clean:before { content: "\f105"; }
.flaticon-policy:before { content: "\f106"; }
.flaticon-approved:before { content: "\f107"; }
.flaticon-star:before { content: "\f108"; }
    
    $font-Flaticon-birth-control: "\f100";
    $font-Flaticon-mesh: "\f101";
    $font-Flaticon-thunderbolt: "\f102";
    $font-Flaticon-glass: "\f103";
    $font-Flaticon-filter: "\f104";
    $font-Flaticon-clean: "\f105";
    $font-Flaticon-policy: "\f106";
    $font-Flaticon-approved: "\f107";
    $font-Flaticon-star: "\f108";