	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/09/2020 05:11
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-birth-control:before { content: "\f100"; }
.flaticon-mesh:before { content: "\f101"; }
.flaticon-thunderbolt:before { content: "\f102"; }
.flaticon-glass:before { content: "\f103"; }
.flaticon-filter:before { content: "\f104"; }
.flaticon-clean:before { content: "\f105"; }
.flaticon-policy:before { content: "\f106"; }
.flaticon-approved:before { content: "\f107"; }
.flaticon-star:before { content: "\f108"; }

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 40px;
    font-style: normal;
    margin-left: 0px;
}