@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*
@font-face {

	font-family:ng;
	src:url(/font/NanumGothic.eot);
	src:local(※), url(/font/NanumGothic.woff) format(‘woff’)

}
*/
html {overflow-x:hidden; overflow-y:scroll; border:0px;}
img {border: none;}
ul,ol,li,p,h1,h2,h3,h4,h5,fieldset,dl,dt,dd,th,td {margin: 0px; padding:0px; border: 0px;}
li {list-style: none}
input {margin: 0px; padding: 0px;}
body {margin:0px; padding:0px; font-family:'Nanum Gothic', '나눔고딕','ng', '맑은고딕','돋움','굴림',Tahoma,Verdna,Aria; font-size:9pt;}



/*전체레이아웃*/
.HomepageArea {width:100%; position:relative; z-index:15; }
.Header{margin:0px auto; width:980px; position:relative; height:95px;}
.ContentsArea{margin:0px auto;  position:relative; width:100%; border-top:1px solid #d7d7d7;}
.SubContentsArea{ margin:0px auto;  position:relative; width:980px;}
.Footer {margin:0px auto; width:100%; position:relative; border-top:1px solid #d7d7d7; }

/*컨텐츠*/
.LeftmenuArea{width:200px; float:left; text-align:left; margin-right:50px;}
.MainContents{margin:0px auto; width:980px;text-align:left;}
.SubContents{width:750px; text-align:left; float:left;}

/*헤더*/
.TopLink {margin:0 auto; width:980px; height:30px; text-align:right;}
.TopLink ul {float:right;}
.TopLink ul li {float:left; font-size:11px;}
.TopLink ul li a{font-size:11px;}
.TopLink ul li line{ margin-top:-2px;}

.TopLogo {float:left; width:200px;  height:74px; margin-top:15px;}
.TopMenu {margin:0 auto; width:980px; position:relative; z-index:12;}
.TopSubMenu {margin:0 auto; width:980px;}
.SubTopMenu {position:relative;  width:100%; height:40px;}


.SmallCategory{height:40px; border-top:1px solid #c2c2c2; border-bottom:1px dotted #c2c2c2; background-color:#f3f3f3;}
.SmallCategory li{line-height:40px;font-family:'돋움', '굴림', Verdana, Arial;font-size: 11px;color: #636363; padding-left:20px; float:left;}

.LoginMember{width:750px; margin-top:20px;}


.TitleBox{width:660px;border:10px solid #dadada;  padding:10px 0px 10px 0px;}

/*카피라이터*/
.CopyArea {margin:0 auto; width:980px; padding-top:13px; position:relative; padding-bottom:40px;}
.CopyMenu {margin:0 auto; width:100%; border-bottom:1px solid #e5e5e5; height:40px; background-color:#ffffff; padding-top:20px;}
/*퀵*/
.Quick{top:0px; position:absolute; text-align:center; left:945px; z-index:1; visibility: visible;}

/*앞에 스타일 모두 클리어*/
.clear {clear:both;}
.left { float:left;}
.right { float:right;}



* {margin:0; padding:0;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,input{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-size:12px;color:#383d41;vertical-align:middle;}
body{background-color:#fff;text-align:left; color:#464646;}
li{list-style:none}
input {outline:none;}
input,select,button{vertical-align:middle}
em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
html:first-child select{height:20px;padding-right:6px}

hr{display:none}



p {margin:0px; padding:0px;}

.auto {margin:0 auto;}
.none {font-size:1px; line-height:1px;}
.bold {font-weight:bold;}
.left {text-align:left;}
.center {text-align:center;}
.pointer {cursor:pointer;}
.move {cursor:move;}
.underline {text-decoration:underline;}

.clr {clear:both; font-size:0px;}
.up1 {position:relative; overflow:hidden; left:0; top:-1px;}
.up2 {position:relative; overflow:hidden; left:0; top:-2px;}
.up3 {position:relative; overflow:hidden; left:0; top:-3px;}
.up4 {position:relative; overflow:hidden; left:0; top:-4px;}
.up5 {position:relative; overflow:hidden; left:0; top:-5px;}
.up10 {position:relative; overflow:hidden; left:0; top:-10px;}
.down1 {position:relative; overflow:hidden; left:0; top:1px;}
.down2 {position:relative; overflow:hidden; left:0; top:2px;}
.down3 {position:relative; overflow:hidden; left:0; top:3px;}
.down4 {position:relative; overflow:hidden; left:0; top:4px;}
.down5{position:relative; overflow:hidden; left:0; top:5px;}

.l16 {line-height:16px;}
.l18 {line-height:18px;}

.userview {padding:0 7px 0 7px; line-height:14px; font-size:12px; color:#333333; font-family:dotum,돋움;}
.userview a:hover {color:#39bb00; text-decoration:none;}

.tooltip
{
    position:absolute;
    top:0px;
    left:0px;
    z-index:9999;
    display:none;
    border:2px solid #0195a1;
    background-color:#ffffff;
    line-height:16px; font-size:11px; color:#898989; font-family:dotum,돋움;
    padding:20px 20px 20px 20px;
    font-weight:normal;
    text-align:left;
}

#message_body {position:absolute; top:0px; left:0px; width:0px; height:0px; z-index:999999; display:none; background-color:#000000; text-align:center;}
#message_box {position:absolute; top:0px; left:0px; padding:17px 20px 10px 20px; border:2px solid #c1c1c1; background:#ffffff; z-index:999999; display:none;}
#message_box .title {font-weight:bold; margin-bottom:8px; line-height:20px; font-size:14px; color:#333333; font-family:dotum,돋움; letter-spacing:-1px;}
#message_box .text {line-height:20px; font-size:13px; color:#363636; font-family:gulim,굴림;}
#message_box .btn{clear:both; margin-top:17px; padding:10px 0; border-top:1px solid #e5e5e5; text-align:center;}
#message_box .btn img {vertical-align:top;}

.layout_top_bg {position:absolute; top:0px; left:0px; width:100%; height:0px; z-index:-1;}
.layout_bottom_bg {position:absolute; bottom:0px; left:0px; width:100%; height:0px; z-index:-1;}

<!--미나씨 클래스-->

.select{border: 1px solid #A7A7A7;background-color:#ffffff;height: 20px;	font-size: 11px;color: #666666;}
.input{border: 1px solid #c2c2c2;background-color: #FFFFFF;height: 17px; font-size: 12px;color: #666666;}
.input02{border: 1px solid #c2c2c2;background-color: #FFFFFF;height: 19px; font-size: 12px;color: #666666;}
.textarea{border:#c2c2c2 1px solid; background-color:#FFFFFF;font-size:12px;color:#4B4B4B; padding:4px 4px 4px 4px;}
.scrolltxt{scrollbar-face-color:#FFFFFF; scrollbar-arrow-color:#898989;scrollbar-highlight-color : #c6c6c6; scrollbar-shadow-color : #c6c6c6; scrollbar-3dlight-color : #DADADA;scrollbar-darkshadow-color :#FFFFFF;;font-size: 11px; color:#7d7d7d; line-height:15px;}
.headerimg {position:absolute; left:0px; top:0px; z-index:10;}


/*png투명
.png24{tmp:expression(png24set(this));}
*/

/*s라인*/
.line_blue{ background-color:#1d4ea2; height:1px; width:100%;}

/*탑메뉴
.toplink li{Tahoma, Verdna, Aria,  font-size:11px; color:#363636; padding-left:5px; float:right;}
*/
.topmenu { font-family:'NanumGothic','맑은고딕','돋움','굴림'; margin:38px 0px 0px 95px;  float:left;}
.topmenu a{font-size:15px;color:#000000;}
.topmenu a:hover{font-size:15px;color:#00067b4; text-decoration:none;}

/*슬라이드서브메뉴*/

.top_submenu{line-height:25px; float:left; z-index:12;}
.top_submenu a{ color:#363636;}
.top_submenu a:hover{color:#0054a6; font-weight:bold;}


/*서브탑메뉴*/
.sub_topmenu{margin:0 auto;}
.sub_topmenu ul li{ float:left; color:#ffffff; padding:13px 20px 13px 20px; display:block;}
.sub_topmenu ul li a{color:#ffffff;}
.sub_topmenu ul li a:hover{color:#ffffff; text-decoration:none;}
.catrgorymenu {font-family:'NanumGothic','맑은고딕','돋움','굴림',Tahoma,Verdna,Aria; margin:0 auto; position:absolute; z-index:12;  left:0px; top:61px; display:none;}

/*서브left메뉴*/
.submenutitle {float:left; margin-top:30px; margin-bottom:40px;}
.submenu {font-family:'NanumGothic',Verdana, Arial, Tahoma; width:190px; height:100%; font-weight:bold; font-size:15px; line-height:50px; color:#464646;}
.submenu ul{border-left:1px solid #dadada; border-right:1px solid #dadada; height:100%;}
.submenu ul li{font-family:Verdana, Arial, Tahoma; line-height:18px; font-weight:normal;font-size:19px;border-bottom:1px solid #dadada; padding-left:20px; }
.submenu ul li a{color:#959595;font-size:11px;}
.submenu .off a { font-family:'NanumGothic','돋움'; line-height:50px; font-size:15px; color:#464646;}
.submenu .on {font-family:'NanumGothic','돋움'; font-weight:bold; line-height:50px; font-size:15px; background-color:#f4f4f4;}
.submenu .on a {font-family:'NanumGothic','돋움'; font-weight:bold; line-height:50px; font-size:15px; color:#464646;  background-color:#f4f4f4;}
.submenuline{background-color:#898989; height:1px;}

/*메인공지사항*/
.NoticeBox{margin-right:20px; border:1px solid #dadada; padding:20px; width:278px; float:left; height:178px;}
.noticecontents{font-size:12px; color:#636363; line-height:20px; height:20px; float:left; width:200px;}
.noticecontents a{font-size:20px; color:#636363;}
.noticecontents a:hover{font-size:12px; color:#0054a6;}
.noticedate{font-family:'돋움', '굴림'; font-size:12px; color:#636363;line-height:20px; text-align:right; width:50px; float:left; margin-left:20px;}

.notice_subject{width:70%; float:left;  font-size:12px; color: #707070; line-height:25px;}
.notice_date{width:30%; float:left; Tahoma,Verdana , Arial; font-size: 12px; color:#707070; text-align:right; line-height:25px;}
.notice_title{width:70%; float:left;  font-size:14px; color: #000000; height:30px; font-weight:bold;}
.BannerBox{margin-right:20px;  float:left; width:320px; position: relative; height:220px;}

/*네비*/
.subnavi{font-family:'돋움','굴림',Tahoma,Verdna,Aria; font-size:11px; height:25px; line-height:16px; color:#acacac; margin-top:35px; text-align:right;}
.subnavi a:visited{color:#acacac;}


.subline{ height:1px; background-color:#dadada; width:100%; margin:20px 0 20px 0;}

/*타이틀*/
.titlesub1{margin-top:10px; margin-bottom:30px;}
.titlesub2{font-family:'NanumGothic','맑은고딕','돋움','굴림'; margin-top:30px; font-size:13px; margin-bottom:10px; line-height:16px; color:#252525;font-weight:bolder;}
.titleline{margin-bottom:30px;}

/*리스트관련*/
.b_title{font-size: 11px;color: #FFFFFF;text-align: center;}
.w_title {font-size: 12px; color:#2158ba; text-align: center; background-color:#ddebfa;}
.b_num{font-size: 11px;font-weight: normal;color: #7d7d7d;text-align: center;}
.b_subject{font-size: 12px;color: #707070;}
.b_name{font-size: 11px;color: #707070;text-align: center;}
.b_date{font-size: 11px;color:#707070;text-align: center;}
.b_m_date{font-size: 11px;color:#707070;text-align: right;}
.b_hit{font-size: 12px;color: #737373;text-decoration: none;text-align: center;}
.b_content{font-size: 12px;color:#707070; padding:10px; line-height:15px;}
.b_view{font-size: 12px;color:#707070;}
.b_total{font-size: 11px;color:#707070;}
.b_page{font-size: 12px;font-weight: normal;color: #7d7d7d; float:left;}
.b_rely{font-size: 11px;font-weight: normal;color: #7d7d7d;}

/*페이징*/
.page_num{ margin:10px 0 0 200px;}
.page_num ul li{Verdana, Arial;font-size:12px; color:#A1A1A1;text-align:center; float:left; padding:7px; line-height:21px;}
.page_a{color:#FFFFFF;font-weight:bolder;}
.pageing01 {Verdana, Arial;font-size:12px;color:#898989;padding:2px 6px 0px 6px;}

/*사이트맵*/
.sitemap{float:left; margin-right:80px; margin-bottom:20px;}
.sitemap ul{}
.sitemap ul li{font-size:11px;color:#555555;line-height:30px; padding-left:10px; border-bottom:1px solid #dadada;}
.sitemap2{float:left;}
.sitemap2 ul{}
.sitemap2 ul li{font-size:11px;color:#555555;line-height:30px; padding-left:10px; border-bottom:1px solid #dadada;}

/*정책부분*/
.policy01{font-size:12px;color:#707070;line-height:17px;letter-spacing:0px;padding:8px;text-decoration: none;}
.policy02{font-size:12px;color:#555555;line-height:18px;font-weight:bolder;}
.policy03{font-size:12px;color:#0066b6;}

/*아이디패스워드관련팝업창*/
.idpwpoptitle{ font-size:14px;color:#363636;font-weight:bolder;line-height:15px;}
.idpwpoptxt01{ font-size:12px;color:#636363;line-height:15px;}
.idpwpoptxt02{ font-size:12px;color:#636363;text-align:center;line-height:15px;}
.idpwpoptxt03{ font-size:12px; color:#0066b6;line-height:15px; font-weight:bolder;}

/*테이블코딩*/
.t_table01 table tr td{font-size:12px;color:#636363;line-height:40px; border-bottom:1px solid #d5d5d5; padding-left:15px;}
.t_table01 table{border-top:2px solid #04488b;}
.t_table01 table thead tr th{font-size:12px;color:#2158ba;line-height:30px; background-color:#ddebfa; border-bottom:1px solid #d5d5d5; border-top:1px solid #2158ba; text-align:center; font-weight: normal;}

.t_table02 table tr td{font-size:12px;color:#636363;line-height:40px; border-bottom:1px solid #d5d5d5; padding-left:15px;}
.t_table02 table thead tr th{font-size:12px;color:#2158ba;line-height:30px; background-color:#ddebfa; border-bottom:1px solid #d5d5d5; border-top:1px solid #2158ba; text-align:center; font-weight: normal; padding-left:15px;}

.t_write table tr td{font-size:12px;line-height:40px;border-bottom:1px solid #d5d5d5;}
.t_write {font-size:12px;color:#707070; border-top:1px solid #2158ba; font-weight: normal;}

.t_table02{font-size:12px; color:#252525; line-height:30px; margin-top:10px;}
.t_table03{font-size:12px;color:#636363;line-height:25px;}
.t_table_bold{font-size:12px;color:#252525; font-weight:bold;}
.t_table_center{ text-align:center;}

.t_table04{font-family:'돋움','NanumGothic',Tahoma,Verdna,Aria; }
.t_table04 table tr td{font-size:12px;color:#231f20; border-bottom:1px solid #ececec; }


.t_view table tr td{font-size:12px; border-bottom:1px solid #d5d5d5;}
.t_view table thead tr th{font-size:12px;color:#2158ba;line-height:30px; background-color:#ddebfa; border-bottom:1px solid #d5d5d5;  font-weight: normal; text-align:left; padding-left:20px;}
.t_view {font-size:12px;color:#252525; border-top:1px solid #2158ba; font-weight: normal;}
.t_view_txt01 { line-height:15px; padding:20px;}


.t_rely01 table tr td{font-size:12px;color:#636363;border-bottom:1px solid #d5d5d5; padding:10px;line-height:16px;}
.t_rely01 table thead tr th{font-size:12px;color:#000000;line-height:30px; text-align:left;}

/*내용,소개 텍스트*/
.subtxt01{font-family:'돋움','굴림',Tahoma,Verdna,Aria; font-size:12px;color:#464646;line-height:18px;}
.subtxt02{font-family:'돋움','굴림',Tahoma,Verdna,Aria; font-size:12px;color:#464646;line-height:22px;}
.subtxt01_bold{font-family:'NanumGothic','맑은고딕','돋움','굴림',Tahoma,Verdna,Aria; font-size:14px;color:#363636; margin-bottom:10px; font-weight:bold; margin-top:30px;}
.subtxt01_blue{color:#0054a6;}

/*연혁*/
.history01{font-family:Tahoma,Verdna,Aria; font-size:12px; color:#707070; font-weight:bold;  width:27px; line-height:28px; float:left;}
.history02{font-family:'돋움','굴림',Tahoma,Verdna,Aria; font-size:12px; color:#464646; vertical-align:top; width:50px; line-height:25px; float:left;}
.history03{font-family:'돋움','굴림',Tahoma,Verdna,Aria;  line-height:28px;  float:left;}
.historyline{border-bottom: 1px solid #ececec; width:100%; margin-top:20px;}

/*실적*/
.result01{font-family:Tahoma,Verdna,Aria; font-size:22px; color:#0054a6; font-weight:bold; vertical-align:top; width:200px; float:left;}
.result02{font-family:'NanumGothic','맑은고딕','돋움','굴림',Tahoma,Verdna,Aria; font-size:12px; color:#464646; vertical-align:top; width:100px; line-height:25px; float:left;}
.result03{font-family:'NanumGothic','맑은고딕','돋움','굴림',Tahoma,Verdna,Aria; width:380px; margin-left:30px; line-height:25px; float:left;}
.result04{font-family:Tahoma,Verdna,Aria; font-size:22px; color:#0054a6; font-weight:bold; margin-top:10px;}

.maptxt01{font-size:12px;color:#707070;line-height:17px; float:left; width:280px; margin-left:30px;}
.map_blue{font-size:18px;color:#1d4ea2;line-height:20px; margin-left:30px; font-weight:bold; margin:10px 0 20px 30px;}

/*로그인박스*/
.logintxt01{font-size:12px; font-weight:bold;}
.logintxt02{font-size:12px; margin-bottom:5px;}
.logintxt03{font-size:12px;color:#707070; margin-bottom:5px;}

/*카피*/
.copymenu01{margin:0 auto; width:980px;}
.copymenu01 li{font-size:8pt; float:left; margin:0 60px 0 60px; }
.copymenu{margin:0 auto;}
.copymenu li{font-size:8pt; float:left; margin:0 20px 0 0px; line-height:15px;}
.copymenu li a{font-size:8pt; color:#363636;}
.copymenu li a:hover{font-size:8pt; color:#1944a2;}
.copytxt01{font-size:11px; color:#8e8e8e; margin-top:10px;}
.copytxt02{Tahoma, Verdna, Aria; font-size:10px; color:#707070; margin-top:5px;}
.copylogo{float:right; margin:10px 20px 0 0;}
.copyicon{float:right; margin:20px 0 0 0;}

/*메인롤링*/
.blind {position:absolute;left:100%;top:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
.bigBannerRolling{position: relative;width:100%;height:320px;overflow:hidden;}
.bigBannerRolling .bigBannerRollingWp{padding:0px 0 0 0px;}
.bigBannerRolling h2{position:absolute; z-index:6;float:left;margin:5px;cursor:pointer;}
.bigBannerRolling .banner {position:absolute;left:0;top:0;}

.prev {float:left; cursor:pointer; z-index:6; margin:80px 10px 0 30px;}
.next {float:left; cursor:pointer; z-index:6; margin:80px 10px 0 0px;}
.stop {float:left; cursor:pointer; z-index:6; margin:80px 10px 0 0px;}
.play {float:left; cursor:pointer; z-index:6; margin:80px 10px 0 0px;}


/*메인텍스트*/
.main_txt01{ font-size:40px;color:#0a1842; line-height:40px; font-weight:bold;}
.main_txt02{ font-size:22px;color:#0a1842; line-height:24px; font-weight:bold;}
.main_txt03{Tahoma, Verdna, Aria; font-size:13px;color:#0a1842; line-height:13px;}

/**********************************************************************************************************/

.clearFix:after{ content:''; display:block; clear:both; }
.imgWrap img { display:block; }
a { text-decoration:none; color:inherit; }
table { border-collapse:collapse; border-spacing:0; empty-cells:show; }
.b_lr { border-left:1px solid #e2e2e2; border-right:1px solid #e2e2e2;}
.fpx12 { font-size:12px; }
.fpx14 { font-size:14px; }
.fpx15 { font-size:15px; }
.fpx13 { font-size:13px; }
.fpx16 { font-size:16px; }
.fpx18 { font-size:18px; }
.fpx20 { font-size:20px; }
.fpx22 { font-size:22px; }
.fpx24 { font-size:24px; }
.l-s05 { letter-spacing: -0.5px; }
.line14 { line-height:1.4;}
.line15 { line-height:1.5;}
.mb30 { margin-bottom:30px; }
.mt7 { margin-top:7px;}
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt30 { margin-top:30px; }
.mt40 { margin-top:40px; }
.mt45 { margin-top:45px; }
.mt47 { margin-top:47px; }
.mt50 { margin-top:50px; }
.mt60 { margin-top:60px; }
.fgreen { color:#598527; }
.fblue { color:#0054a6; }
.fblue2 { color:#0072bc; }
.fwhite { color:#ffffff; }
.fw600 { font-weight:600}
.c36 { color:#363636; }
.c555 { color:#555; }


.gnb { padding-top:26px; }
.gnb .logoBox { width:198px; }
.tMenu { margin-top:28px; }
.tMenu li { float:left;}
.tMenu li:nth-child(2) { margin-left:73px;}
.tMenu li:nth-child(3),
.tMenu li:nth-child(4) { margin-left:81px; }
.tMenu li:nth-child(5) { margin-left:69px; margin-right:63px; }

.mainConWrap { background-image:url('/common/images/main_line_bg.gif'); background-repeat:repeat-y; background-position:left; background-size:50%; }
.MainContents li { float:left; }
.mainCS { border-left:1px solid #e2e2e2; border-right:1px solid #e2e2e2; width:243px; height:229px;}

.CopyArea li { float:left; }
.lang { border:1px solid #d7d7d7; color:#a1a1a1; font-size:11px; background-color:#fff; width:158px; padding-left:10px; height:20px;}

#scrollBox { position:absolute; top:94px; left:989px; z-index:99999;}
#scrollBox ul { width:65px; border:1px solid #ccc; }
#wTop { cursor:pointer; }

.subTopNaviBox { width:100%; height:140px; background-image:url('/common/images/sub5_top.jpg'); background-repeat:no-repeat; background-position:center top; letter-spacing:-1px;}
.snbBox { width:980px; margin:0 auto; padding-top:45px; }
.subTitle { font-size:26px; color:#555; font-weight:600; }
.snb { font-size:12px; font-family:Dotum; color:#acacac; margin-left:20px; margin-top:14px; letter-spacing:0;}
.snb span { font-weight:600; }
.subTitle2 { color:#b1b1ae; margin-top:8px; }
.subTitle2 span { color:#7faad4; }
.pageTitle { font-size:18px; color:#363636; margin:40px 0px; font-weight:600;}
.pageTitle2 { font-size:25px; color:#ffffff;  font-weight:600; text-align:center; padding : 40px 0 20px 0;}
.pageTitle img { vertical-align:4px; margin-right:10px; }
.pageSubTitle { color:#636363; font-size:22px; line-height:1.4; letter-spacing:-1px; margin-bottom:40px; }
.pageSubTitle span { color:#0068b7;}

.companyTable { margin-bottom:40px; width:100%;}
.companyTable td { border:1px solid #e2e2e2; border-left:0px; border-right:0px; font-size:14px; color:#464646; }
.companyTable td.companyTh { color:#363636; font-weight:600; }
.companyTable td.companyTh img { vertical-align:3px; margin-right:10px; }
.companyContent li { width:300px; float:left; margin-left:40px; line-height:1.5; color:#464646; font-size:14px; }
.companyContent li:first-child { margin-left:0px; }
.companyContent li img { margin-bottom:30px; }
.companyContent li .title { height:100px; color:#555555; font-weight:600; font-size:17px; letter-spacing:-0.5px; white-space:nowrap; line-height:1.3; } 
.subBox { margin-bottom:50px;}

.history_tab li { float:left; cursor:pointer;  }
.historyWrap { width:100%;  background-image:url('/common/images/history_line.gif'); background-repeat:no-repeat; background-position:center top; background-size:1px 100%;}
.historyBox li { display:none;}
.historyBox li:first-child { display:block;}


.history_y { font-size:16px; color:#97af4a; font-weight:600; margin-right:37px;}
.history_y img {vertical-align:-1px; margin-right:9px;}
.history_text { font-size:14px; color:#464646; line-height:1.5;}

.dot_title { font-size:18px; font-weight:600; color:#363636 }
.dot_title img { vertical-align:4px; margin-right:10px; }

.ci_color caption { margin-bottom:29px; }
.ci_color td { color:#464646; }
.ci_color td img { margin-top:1px; }

.sub05_05_t1, .sub05_05_t2, .sub05_05_t3, .sub05_05_t4 { font-size:16px; font-weight:600;}
.sub05_05_t1 { color:#829642; }
.sub05_05_t2 { color:#60875c; }
.sub05_05_t3 { color:#527294; }
.sub05_05_t4 { color:#567977; }

.locationInfor, .locationInfor2 { border-top:2px solid #cdcdcd; font-size:14px; width:100%;}
.locationInfor td { border-bottom:1px solid #cdcdcd; padding:12px 0px;}
.locationInfor td.title { font-weight:600; color:#363636;}

.locationInfor2 td.title { font-weight:600; color:#363636; padding-left:14px;}
.locationInfor2 td.pd20 { padding-top:20px; padding-bottom:20px; }
.locationInfor2 td.bline { border-bottom:1px solid #cdcdcd; }

.csbg { width:100%; height:149px; background-image:url('/common/images/sub03_01_img01.gif'); background-repeat:no-repeat; background-position:left top; }

.serviceTable { width:100%; border-top:1px solid #cdcdcd;}
.serviceTable td { border-bottom:1px solid #cdcdcd; padding:12px 0px; }
.serviceTable td.line { border-right:1px solid #cdcdcd; }
.serviceTable td.bg { background:#f3f3f3; }
.b2bbg { width:359px; height:217px; background-image:url('/common/images/sub03_06_img01.gif'); background-repeat:no-repeat; background-position:left top; }

.serviceBox { height:233px; border:1px solid #d7d7d7; overflow-y:scroll; box-sizing:border-box; padding:20px 50px; margin-top:40px; line-height:1.5;}
.mailForm { margin-top:35px; }
.mailForm td.title { font-weight:bold;  }
.mailForm td.title img { vertical-align:3px; margin-right:10px; }
.mailForm .form_input { border:1px solid #d7d7d7; box-sizing:border-box; height:25px; padding:0px 5px; font-family:'Nanum Gothic';}
.mailForm .form_select { border:1px solid #d7d7d7; box-sizing:border-box; width:83px; height:25px; font-family:'Nanum Gothic';}
.mailForm .hyphen { margin:0px 9.8px;}
.mailForm textarea { box-sizing:border-box; width:847px; height:260px; border:1px solid #d7d7d7; padding:10px 5px;}

.subTest { margin:40px 0px; }
.subTest li { float:left; margin-left:30px; }
.subTest li:first-child { margin-left:0px; }

.certificateCaption { font-size:18px; color:#363636; font-weight:600; margin-top:40px;}


.certificateTable { border-top:2px solid #d7d7d7; margin-top:30px; width:100%; font-size:14px; }
.certificateTable td { height:49px; border:1px solid #d7d7d7; border-top:0px; text-align:center; }
.certificateTable td:first-child { border-left:0px;}
.certificateTable td:last-child { border-right:0px;}
.certificateTable td.bg { background-color:#f8f8f8; font-weight:600;}

.faqTitleBox li { float:left; }
 
.productSubMenuBox li { float:left; }

.proBox li { float:left; width:318px; height:274px; border:1px solid #d7d7d7; margin-left:10px; margin-top:10px;}
.proBox li:first-child { margin-left:0px; margin-top:0px; }
.proBox li:nth-child(2), .proBox li:nth-child(3) { margin-top:0px; }
.proBox li:nth-child(3n+1) { margin-left:0px; }
.proBox li .proImg { margin-top:24px; margin-bottom:19px;}
.proBox li span { display:block; margin-bottom:5px; }
.proBox li .viewBtn { margin-top:15px;}

.subTabTitle { padding:50px 0px; border-bottom:1px solid #d7d7d7; margin-bottom:50px; color:#363636}
.pH_table td { border-bottom:1px solid #cdcdcd; height:39px; }
.pH_table td.pH_title, .pH_table td.pH_title2  { border-top:1px solid #0072bc; font-weight:bold; background-color:#f9f9f9; }
.pH_table td.pH_title2 { background:none; font-weight:normal; }
.pH_table td.pH_line { border-left:1px solid #cdcdcd; border-right:1px solid #cdcdcd; }
.pH_table td.pH_line_r { border-right:1px solid #cdcdcd; }

.sub_space { margin:50px 0px; border-bottom:1px solid #ececec }
.sub_space2 { margin:50px 0 0 0; border-bottom:1px solid #ececec }
.pH_pointer { position:absolute; width:69px; height:97px; border:2px solid #0072bc; left:394px; margin-top:150px;}

.proBox2 li { width:318px; height:274px; border:1px solid #d7d7d7; margin-top:10px; }
.proBox2 li:first-child { margin-top:0px; }

.proBox3 li { float:left; width:318px; height:560px; border:1px solid #d7d7d7; margin-left:10px;}
.proBox3 li:first-child { margin-left:0px; }

.itemTitle1 { font-size:14px; font-weight:600; line-height:1.1; text-align:center;}
.itemTitle2 { font-size:14px;  line-height:1.1; text-align:center; margin-top:8px; margin-bottom:15px; }

.sub01-03-table { border-top:2px solid #d7d7d7; font-size:14px; color:#464646; }
.sub01-03-table td { padding:18px 0px; border-bottom:1px solid #d7d7d7; }
.sub01-03-table td.space { background-color:#d7d7d7; }
.sub01-03-table td.bg { background-color:#f8f8f8; text-align:center; font-weight:600; }
.sub01-03-table td.con { padding-left:50px; }

/************************************************ 제품 view 페이지 **************************************************/
.pro-page-title { font-size:14px; color:#636363; }
.pro-title { font-size:24px; color:#363636; font-weight:bold; margin-top:3px;}
.page-navi-box li { float:left; margin-left:5px; }

.pro-tab-bg { position:absolute; left:-475px; height:469px; margin-top:83px; width:1940px; background-image:url('/common/images/pro_list/pro_tab_bg.jpg'); background-position:center top; background-repeat:no-repeat;}
.pro-tab-bg2 { position:absolute; left:-475px; height:200px; margin-top:83px; width:1940px; background-image:url('/common/images/pro_list/pro_tab_bg2.jpg'); background-position:center top; background-repeat:no-repeat;}
.pro-tab { position:relative; z-index:5}
.pro-tab li { float:left; width:325px; border-right:1px solid #d7d7d7; border-top:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; background-color:#fff; text-align:center; padding:13px 0px; font-size:14px; font-weight:bold; color:#898989; }
.pro-tab li.tab_on { border-bottom:1px solid #f6f6f6; background-color:#f6f6f6; color:#598527; }
.pro-tab li a { display:block; outline:none; background:inherit; }
.sub-pro-box { height:44px; padding-top:40px;}
.pro-fixed { position:fixed; top:0px; z-index:999999;}

.pro-infor-box { position:relative; }
.pro-infor { color:#363636; font-size:14px; margin-top:73px; margin-left:45px; }
.pro-infor-title { font-size:35px; font-weight:bold; line-height:1.1; margin-bottom:28px; }
.pro-icon-box li { float:left; margin-left:15px; }
.pro-icon-box li:first-child { margin-left:0px; }
.pro-tab-box { position:relative; }
.pro-tab-box li { float:left; cursor:pointer; }
.tab-con-box { padding:60px 0px; font-size:14px; color:#464646; position:relative; }
.pro-img-bg { background-repeat:no-repeat; }
.tab-box-title { text-align:center; font-size:22px; color:#363636; font-weight:bold; }
.tab-title { display:inline-block; border-bottom:1px solid #363636; padding-bottom:13px; }
.tab-product-title { font-size:45px; margin-top:57px; margin-bottom:105px; }
.tab-product-title span { font-size:55px; color:#0072bc; }
.tab-gray-bg { position:absolute; left:-475px; width:1940px; background-color:#f7f7f7; }

.pro-feature-title { font-size:18px; color:#363636; font-weight:bold; }
.pro-feature-title > span { color:#0072bc; }
.pro-feature-title img { vertical-align:5px; margin-right:10px; }
.pro-feature-text { margin-left:13px; letter-spacing:-0.3px; margin-top:17px; line-height:1.4;}
.pro-feature-space { margin:40px 0px; border-bottom:1px solid #e2e2e2; }
.buttonTable { width:490px; margin-top:28px; border-top:2px solid #5e83ab; }
.buttonTable td { border-bottom:1px solid #d7d7d7; height:39px; text-align:center; }
.buttonTable td.bg_sky { background:#f5fafb; color:#363636; font-weight:bold; }
.buttonTable td.bg_gray { background:#d7d7d7; }

.pro-slide-box { position:relative; margin-top:130px; }
#bx-pager { margin-left:90px; margin-top:65px; }
#bx-pager a { border:1px solid #e1e1e1; float:left; margin-left:10px;  }
#bx-pager a:first-child { margin-left:0px; }

.pro-view-table { font-size:14px; color:#464646; text-align:center; border-top:2px solid #d7d7d7; width:100%}
.pro-view-table td { border-bottom:1px solid #d7d7d7; height:39px; }
.pro-view-table td.title { font-weight:bold; color:#363636; background-color:#f6f6f6; }
.pro-view-table td.line { border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; }
.pro-view-table td.line_r { border-right:1px solid #d7d7d7; }

.pro-view-table2 { font-size:14px; color:#464646; border-top:1px solid #0072bc; width:100%; text-align:center;}
.pro-view-table2 td { border-bottom:1px solid #cdcdcd; height:39px; }
.pro-view-table2 td.bg_gray { background:#cdcdcd; }
.pro-view-table2 td.title1 { background:#f9f9f9; font-weight:bold; color:#363636; }
.pro-view-table2 td.title2 { background:#e1e1e1; font-weight:bold; color:#363636; }
/*******************************************************************************************************************/

.signBox .input { width:188px; padding:0px 5px; border:1px solid #ccc; font-size:14px; height:33px; font-family:'Nanum Gothic'; }
.grTitle1 { font-size:16px; color:#363636; margin-bottom:30px; font-weight:bold; }
.grTitle1 img { vertical-align:3px; margin-right:10px;}
.grTitle2 { font-size:14px; color:#464646; font-weight:bold; margin-bottom:20px;}
.gr_space { margin:30px 0px; border-bottom:1px solid #bfbfbf; }

.sitemap_box { width:185px; margin-left:80px; }
.sitemap_Tmenu { margin-top:10px; padding-bottom:10px; border-bottom:2px solid; color:#464646; font-size:15px;}
.sitemap_product li { margin-top:10px; }
.sitemap_product li:first-child { margin-top:0px;}
.sitemap_space { margin:30px 0px; border-bottom:1px solid #e2e2e2; }
.sitemap_menu li { margin-top:25px; }

.top_snb_text { font-size:13px; line-height:1.1; color:#555;}
.top_snb_text li { margin-top:13px; }
.top_snb_text li:first-child { margin-top:30px; }

.subTabWrap { height:50px; padding-top:47px; }

.bbs_search { border:1px solid #727272; border-radius:3px; padding:3px;  background:#888888; color:#efefef; cursor:pointer; }
.faq_search { border:0px; background:#464646; color:#fff; padding:10px; cursor:pointer; }

.bg_black {background-color: #000000;}
.w_font {color:#ffffff; padding-bottom:40px; text-align: center;}
.sub_bg{background-image: url("/common/images/pro_list/pro11_subbg01.gif"); width:100%; height:254px;}